#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk


# Add here any variable or target overrides you need.
DEB_INSTALL_DOCS_chlkref := $(DEB_INSTALL_DOCS_ALL)
DEB_INSTALL_DOCS_ALL=

DEB_MAKE_INSTALL_TARGET=install prefix=$(CURDIR)/debian/chklref/usr

binary-post-install/chklref::
	dh_installtex -p$(cdbs_curpkg)

